$gutter: 10px;

.grid {
  display: flex;
  flex-direction: column;
  margin: -$gutter;

  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: -$gutter;
    padding: $gutter;
  }

  .item {
    flex-basis: 100%;
    padding: $gutter;
  }
}